// Navigation Styles here

header {
    

    nav {
        display: flex;
        justify-content: center;
        align-items: center;        
        padding: 1%;

        .fun-bus-text {
            margin-right: 22%;
        }

        h3 {
            font-size: 45px;
            
        }
        
        a {            
            text-decoration: none;
            color: black;
            font-size: 16px;  
            padding: 1.5%;        
        }
    }
}
